<!-- Item Id -->
<div class="flex flex-col mb-4">
  <label class="text-gray-700 text-sm">Item</label>
  <select class="p-2" name="itemId">
    <% items.forEach(item => { %> <% if (item.id === store.itemId) { %>
    <option selected label="<%= item.name %>" value="<%= item.id %>">
      <%= item.item_name %>
    </option>
    <% } else { %>

    <option label="<%= item.name %>" value="<%= item.id %>">
      <%= item.item_name %>
    </option>
    <% } %> <% }) %>
  </select>
</div>
<!-- store name -->
<div class="flex flex-col mb-4">
  <label class="text-gray-700 text-sm">Store</label>
  <select class="p-2" name="store_name">
    <% store_names.forEach(store_name => { %> <% if (store_name ===
    store.store_name) { %>
    <option selected label="<%= store_name %>" value="<%= store_name %>">
      <%= store_name %>
    </option>
    <% } else { %>

    <option label="<%= store_name %>" value="<%= store_name %>">
      <%= store_name %>
    </option>
    <% } %> <% }) %>
  </select>
</div>
<!-- quantity -->
<div class="flex flex-col mb-4">
  <label class="text-gray-700 text-sm" for="title">Quantity:</label>
  <input
    class="p-2"
    min="0"
    type="number"
    id="title"
    name="quantity"
    value="<%= store.title %>"
    required
  />
</div>
<!-- location -->
<p class="my-2">Location</p>
<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <!-- shelf -->
  <div class="flex flex-col mb-4">
    <label class="text-gray-700 text-sm" for="title">Shelf:</label>
    <input
      min="0"
      type="number"
      id="title"
      name="shelf"
      value="<%= store.title %>"
      required
    />
  </div>
  <!-- box -->
  <div class="flex flex-col mb-4">
    <label class="text-gray-700 text-sm" for="title">Box:</label>
    <input
      min="0"
      type="number"
      id="title"
      name="box"
      value="<%= store.title %>"
      required
    />
  </div>
  <!-- row -->
  <div class="flex flex-col mb-4">
    <label class="text-gray-700 text-sm" for="title">Row:</label>
    <input
      min="0"
      type="number"
      id="title"
      name="row"
      value="<%= store.title %>"
      required
    />
  </div>
  <!-- cell -->
  <div class="flex flex-col mb-4">
    <label class="text-gray-700 text-sm" for="title">Cell:</label>
    <input
      min="0"
      type="number"
      id="title"
      name="cell"
      value="<%= store.title %>"
      required
    />
  </div>
</div>
